<div class="container">
  <h1> Image Sharer App</h1>
  <hr>
  <%= link_to "Link A New Image Now!", new_image_path, class: 'btn btn-primary btn-large' %>

  <hr>
  <h2>Images Currently Saved</h2>

  <table>
    <tr>
      <th>Image</th>
   </tr>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag image.url, class: 'image-stored' %></td>
      </tr>
    <% end %>
  </table>

</div>
